@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #414750;
    font: 15px 'Montserrat-Medium', sans-serif;
    line-height: 26px;
    color: #fff;
    overflow: hidden;
}
.container::after,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.main-page {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    min-height: 100vh;
    -webkit-transition: transform .4s ease-in;
    -moz-transition: transform .4s ease-in;
    -ms-transition: transform .4s ease-in;
    -o-transition: transform .4s ease-in;
    transition: transform .4s ease-in;
}
.main-page .left {
    position: relative;
    width: 495px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background-color: #FFD300;
    padding: 50px;
}
.main-page .right {
    position: relative;
    width: calc(100% - 495px);
    background: url('../images/backgrounds/main-page-2x.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.main-page .right .top {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo {
    display: block;
    width: 50px;
    height: 50px;
    background: url('../images/logo/logo.svg') no-repeat center;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}
.main-logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.main-page .right .social {
    padding-right: 10px;
    padding-top: 24px;
}
.main-page .right .social a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 14px;
    color: #fff;
}
.main-page .left .top-slogan {
    position: absolute;
    top: 50px;
    right: 55px;
    width: 155px;
    font: 14px 'Montserrat-SemiBold', sans-serif;
    line-height: 19px;
    text-align: right;
}
.main-page .left h1 {
    max-width: 370px;
    margin: 55px auto 0;
    text-align: center;
    font: 61px 'Montserrat-Bold', sans-serif;
    line-height: 75px;
    color: #343a4a;
    text-transform: uppercase;
}
.main-page .left .center {
    width: 100%;
}
.get-first-screen {
    position: absolute;
    top: 50%;
    left: 40px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}
.get-second-screen {
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.get-first-screen a,
.get-second-screen a {
    display: block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
}
.get-first-screen i,
.get-second-screen i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.time-line {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    padding: 55px 55px 60px;
    width: 100%;
    background-color: #414750;
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    -ms-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

.main-page.move {
    -webkit-transform: scale(.90);
    -moz-transform: scale(.90);
    -ms-transform: scale(.90);
    -o-transform: scale(.90);
    transform: scale(.90);
}
.time-line.move {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.top-simple {
    position: absolute;
    top: 0;
    left: 495px;
    right: 40px;
    z-index: 4;
}

.stars {
    position: absolute;
    top: 55px;
    left: 55px;
    right: 55px;
    bottom: 0;
    background: url('../images/backgrounds/stars.svg') no-repeat top center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 0;
    opacity: 0;
    -webkit-transition: .5s linear .5s;
    -moz-transition: .5s linear .5s;
    -ms-transition: .5s linear .5s;
    -o-transition: .5s linear .5s;
    transition: .5s linear .5s;
}
.time-line.move .stars {
    opacity: 1;
}
.stars img {
    display: block;
    width: 100%;
}
.time-line_elements {
    position: relative;
    width: 100%;
    z-index: 2;
}
.time-line_slogan {
    width: 380px;
    margin: 0 auto 65px;
    padding: 35px;
    border: solid 2px #ffd300;
}
.time-line_slogan h2 {
    font: 34px 'Montserrat-SemiBold', sans-serif;
    line-height: 42px;
    color: #fff;
}
.time-line_image {
    margin-bottom: 15px;
}
.time-line_image img {
    display: block;
    width: 100%;
}
.time-line_years {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 50px;
}
.year {
    position: relative;
    font: 12px 'Montserrat-SemiBold', sans-serif;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
}
.year::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: transparent;
}
.year.active {
    color: #fff;
}
.year.active::after {
    background-color: #fff;
}
.year.visited {
    color: #ffd300;
}

.time-line_logo {
    display: block;
    width: 60px;
    margin-top: 23px;
}
.top-images {
    list-style: none;
    padding: 0;
    margin: 18px 20px 0 0;
}
.top-images li {
    float: left;
    margin-right: 20px;
}
.top-images img {
    display: block;
    width: 35px;
}